.items-container {
  margin: 10px auto;
}

.items {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  gap: 20px;
  min-height: 100vh;
  padding: 0 50px;

  @media (max-width: 1024px) {
    margin-left: 0;
    padding-left: 25px;
  }
}
